body{
	background-color:#36648B;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 40px;
	margin-right: 40px;
	position: absolute;
}
.capa{
	width: 1170px;
	height: 350px;
	background-position: left;
}
hr{
	color: black;
}
.menu{
	text-align:center;
}
.banda{
	width: 500px;
	height: 300px;
	background-position: left;
	float: left;
	padding-right: 15px;
	padding-bottom: 10px;
}

table{
	border-style: solid;
	text-align: center;
	border-color: black;
}

 td{
	border-style: solid;
}

.tabela1{
	float: left;
	margin-right: 20px;
}
.tabela2{
	margin-top: 5px;
	margin-right: 20px;
	float: left;
}
.tabela3{
	margin-top: 5px;
}

input{
	width: 260px; 
	height: 35px; 
	padding: 5px 20px 0px 20px; 
	margin: 0 0 20px 0;  
	background: #5E768D;
	border-radius: 5px;
	font-family: sans‐serif; 
	font-size: 16px;
	color: black;
	text-transform: uppercase;
	text-shadow: 0px ‐1px 0px #334f71;;
}

textarea{
	width: 300px; 
	height:500px; 
	padding: 12px 20px 0px 20px; 
	margin: 0 0 20px 0;    
	background: #5E768D; 
	border-radius: 5px;
	font-family: sans‐serif; 
	font-size: 16px;
	color: black;
	text-transform: uppercase;
	text-shadow:0px ‐1px 0px #334f71; 
}

.formulario{
	text-align: center;
	border: solid;
	padding: 10px 10px 10px 10px;
	width: 300px;
	margin-left:420px;
}

a:hover{
	color: grey;
	font-size: 20px;
	cursor: pointer;
}
