body{
	font-family: tahoma;
	margin: 30px 20px 30px 20px;
}
h1{
	font-size: 50px;
	color: white;
	background-color: green;
	font-weight: bold;
}
h2{
	font-size: 35px;
	color: white;
	background-color: green;
	font-style: italic;
}
p{
	text-align: justify;
	font-size: 20px;
}
header{
	text-decoration: underline;
	font-style: italic;
	text-align: right;
	font-size: 15px;
}

.rv{
	color: blue;
}
.man{
	color: green;
}
.cv{
	color: red;
}
.elenco{
	text-align:center;
}
.quico{
	border-style: solid;
	border-color: red;
	border-width: 5px;
}
.pg_quico{
	background-color: red;
}
.chiquinha{
	border-style: solid;
	border-color: green;
	border-width: 5px;
}
.madruga{
	border-style: solid;
	border-color: blue;
	border-width: 5px;
}
.pg_madruga{
	background-color: blue;
}


