body{
	font-family: arial;
	background-color:#2F4F4F;
	color: black;
}
p{
	text-align: justify;
	font-size: 12px;
	margin-left: 5px;
	margin-top: 10px;
}
h1,h2{
	text-transform: uppercase;
	text-align: right;
}
.gremio{
	color: #0000CD;
}
.inter{
	color: #EE0000;
	font-style: italic;
}
.cbf{
	color: yellow;
}
.futebol{
	background-color: #CFCFCF;
}
.surf{
	background-color: #87CEEB;
}
.titulo{
	font-size: 30px;
}
div{
	text-align: center;
}

